{% extends 'base.html.twig' %}

{% block title %}New TutorialInCourse{% endblock %}

{% block body %}
    <h1>Create new TutorialInCourse</h1>

    {{ include('tutorial_in_course/_form.html.twig') }}

    <a href="{{ path('app_tutorial_in_course_index') }}">back to list</a>
{% endblock %}
